* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* QUI INIZIA L'HEADER */

.container-header {
    width: 100vw;
    height: 120px;
}

.row-header {
    display: flex;
}

.col-50 {
    width: 50%;
    padding: 30px 30px 30px 20px;
}


/* PRIMA COLONNA */
.content-header>img {
    width: 150px;
}

.content-header span {
    margin: 10px 30px;
    font-size: 25px;
    color: grey;
}

.content-header a {
    text-decoration: none;
}

/* SECONDA COLONNA */
.content-header.right {
    text-align: right;
}

.col-50 button {
    font-size: 25px;
    color: white;
    background-color: rgb(8, 123, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.col-50 button:hover {
    background-color: darkblue;
}

/* ---------------FINE HEADER------------------------- */

/* INIZIO MAIN */

.container-main-header {
    height: calc(100vh - 120px);
    overflow-y: scroll;
}

.container-bg-lightblue {
    height: 1200px;
    background-color: rgba(120, 183, 255, 0.73);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 1350px;
}

/* RIGA DEL TITOLO */
.row-title {
    width: 70%;
}

.content-title {
    font-size: 60px;
    text-align: left;
    padding-left: 50px;
}

/* RIGA DEI CONTENT IMG E DELLE INFO */
.row-first-block {
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.col-info {
    width: 30%;

}

.content-info {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-top: 150px;
}

.content-info button {
    width: 60%;
    font-size: 25px;
    text-align: left;
    padding: 20px 10px 20px 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgb(8, 123, 255);
    border: none;
    color: white;
    cursor: pointer;
}

.content-info button:hover {
    background-color: darkblue;
}

.fa-arrow-down {
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: black;
}

.fa-arrow-down:hover {}

.col-image {
    width: 70%;
}

.jumbo {
    width: 1200px;
    height: 800px;
    min-height: 200px;
    position: relative;
    bottom: -150px;
    left: 200px;
}

/* CONTENITORE DA 1400PX */

.container-1400 {
    width: 1400px;
    margin: 0 auto;
    margin-top: 200px;
}

/* CREAZIONE DEI BLOCCHI DEL PIANO BUSINESS */

.business-plan {
    width: 100%;
}

#business-title {
    width: 100%;
    margin-bottom: 50px;
}

#business-title h2 {
    font-size: 50px;
}

#radiobox {
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
}

#mg-right-radio {
    margin-right: 80px;
}

.mg-right-span {
    margin-right: 5px;
}

/* DIMENSIONE PALLINO RADIO */
input[type="radio"] {
    transform: scale(1.8);
}

/* GESTIONE DELLE TRE COLONNE VERTICALI */
.plans {
    width: 100%;
}

.plans-row {
    display: flex;
}

.col-plans {
    width: calc(100% / 3);
    height: 1200px;
    border: 1px solid grey;

}

.col-plans.center {
    margin: 0px 20px;
}


/* COLONNA DI SINISTRA */
.content-plans-title {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 0px;
}

.content-plans-title span {
    margin-left: 10px;
}

.content-plans {
    height: 50%;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
}

.content-plans h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

li {
    margin-top: 20px;
    font-size: 20px;
}

.content-plans strong {
    margin-bottom: 8px;
    display: flex;
}

.content-plans .fa-solid {
    margin-right: 15px;
    margin-top: 10px;
}

.separation {
    display: flex;
}

.assistenza {
    font-size: 19px;
}

.content-plans button {
    background-color: rgb(8, 123, 255);
    border: none;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 90px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.content-plans button:hover {
    background-color: darkblue;
}

.content-plans a {
    color: blue;
}

.content-plans a:hover {
    color: purple;
}

.time {
    color: gray;
    margin-bottom: 30px;
    display: flex;
}

/* COLONNA DI SINISTRA SOTTO */
.content-check {
    height: 45%;
    padding: 20px;
    font-size: 20px;
}

.content-check hr {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 30%;
    color: lightgrey;
}

.content-check .fa-solid {
    margin-right: 5px;
    margin-top: 5px;
}

.mg-top-col {
    margin-top: 20px;
}

.mg-left-text {
    margin-left: 100px;
}

/* COLONNA CENTRALE */

.mb-plans {
    margin-bottom: 2000px;
}

.font-size {
    font-size: 19px;
}


/* ALTRI DIV POSTI APPENA SOTTO I BUSINESS PLANS */
.office {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 200px;
    border: 1px solid grey;
}

#team {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.col-70 h2 {
    font-size: 30px;
}

.row-office button {
    padding: 10px;
    background-color: rgb(8, 123, 255);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.row-office button:hover {
    background-color: darkblue;
}

#contact {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 20px;
}

.row-office {
    width: 100%;
    height: 250px;
    padding-left: 40px;
    display: flex;
    padding-top: 25px;
}

.col-70 {
    width: 70%;
    height: 100%;

}

.col-30 {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
}

/* CONTAINER CON ALL'INTERNO IMMAGINE E INFO */

.container-partner {
    width: 100%;
    margin-bottom: 150px;
}

.row-partner {
    width: 100%;
    height: 100%;
    display: flex;
}

.col-img {
    width: 60%;
    display: flex;
    justify-content: center;
}

.col-img img {
    width: 100%;
    height: 100%;
    margin-right: 60px;
}

.col-img img:hover {
    transform: scale(1.2);
    transition-delay: 0.2s;
    cursor: pointer;
}

.col-info-img {
    width: 40%;
    height: 100%;
}

.content-partner-title h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.content-partner-p {
    font-size: 20px;
}

.find-partner {
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    margin-top: 40px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.find-partner:hover {
    background-color: lightgrey;
}

/* CREAZIONE DEL BLOCCO "PIù OPERAZIONI" */

.container-more-operations {
    width: 100%;
    padding-top: 30px;
}

.title-more-options {
    width: 100%;
}

.content-business h2 {
    font-size: 40px;
}

.row-more-options {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);

}


.image-more-options {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
}

.image-more-options img {
    width: 100%;
    height: 90%;
}

.h3-more-options {
    width: 100%;
    height: 20%;

    font-size: 30px;
}

.p-more-options {
    width: 100%;
    height: 20%;
    font-size: 20px;
    margin-bottom: 100px;
}


/* ULTIMO BLOCCO DEL CONTAINER DA 1200PX */

.h2-link {
    width: 100%;
    margin: 150px 0px;
}

.h2-link h2 {
    margin-top: 200px;
    margin-bottom: 80px;
    font-size: 40px;
}

.h2-link a {
    font-size: 20px;
    color: blue;
}

.h2-link a:hover {
    color: purple;
}

/* CONTAINER FULL */

.container-bg-blue.bottom {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-partners {
    width: 100%;
    height: 100%;
    display: flex;
}


.content-image-partners {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-image-partners-green {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: greenyellow
}

.content-image-partners-green img {
    filter: invert(100%);
}

#bg-bordeaux {
    background-color: rgb(148, 0, 0);
    width: 100%;
    height: 100%;
}

#bg-bordeaux img {
    filter: invert(100%);
}

#blue {
    background-color: rgb(8, 123, 255);
    height: 100%;
    width: 100%;
}

#blue img {
    filter: invert(100%);
}

.red {
    background-color: red;
    height: 100%;
    width: 100%;
}

.red img {
    filter: invert(100%);
}

#blue img {
    filter: invert(100%);
}

#light-blue {
    background-color: lightblue;
    height: 100%;
    width: 100%;
}

#light-blue img {
    filter: invert(100%);
}

#dark-blue {
    background-color: darkblue;
    height: 100%;
    width: 100%;
}

#dark-blue img {
    filter: invert(100%);
}

#yellow {
    background-color: rgb(235, 235, 16);
    height: 100%;
    width: 100%;
}

#yellow img {
    filter: invert(100%);
}


.content-image-partners-green img {
    width: 50%;
}

.content-image-partners img {
    width: 50%;

}

/* QUESTI DUE GESTISCONO SIA LA COL 33 DI SINISTRA SIA QUELLA DI DESTRA */
.col-33.partners {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-50-images {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
}

.col-50-images:hover {
    border: 20px solid lightgray;
}

/* COLONNA CENTRALE */
.img-partners {
    width: 100%;
    height: 40%;
    padding-bottom: 10%;
}

.paragraph-partners {
    width: 100%;
    height: 60%;
}

.content-img-center {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.content-p-center {
    padding-left: 50px;
    margin-top: 50px;
    font-size: 20px;
}

.content-p-center p {
    margin-bottom: 100px;
}

.col-33.center {
    background-color: rgba(194, 194, 194, 0.295);
}

/* UNDER ROW FULL */

.free-trial {
    width: 100%;
    height: 50%;
    background-color: rgba(120, 183, 255, 0.5);
}

.row-trial {
    width: 1400px;
    margin: 0 auto;
    height: 100%;
    display: flex;

}

.col-50-trial {
    width: 50%;
    height: 100%;
}

.content-blue-box {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: darkred;
    padding-top: 130px;
}

.col-50-trial.right {
    display: flex;
    justify-content: center;
    padding-top: 140px;
}

.button-blue-box button {
    padding: 20px 80px 20px 80px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button-blue-box button:hover {
    background-color: lightgray;
}

/* CONTENITORE CHE RACCHIUDE LE DOMANDE */

.container-1400.bottom {
    width: 1400px;
    height: 800px;
    margin-top: 0;
}

.row-questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-h3 {
    width: 100%;
}

.content-h3-questions {
    font-size: 30px;
}


.col-questions {
    width: 100%;
    padding-top: 50px;
}

.row-questions-top {
    height: calc(100% / 3);
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
}

.col-80-top {
    padding: 40px 0px;
    width: 80%;
}

.col-20-top {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-20-top .fa-angle-down {
    font-size: 25px;
}

.row-questions-top p {
    font-size: 20px;
}

.row-questions-center {
    height: calc(100% / 3);
    border-bottom: 1px solid gray;
    display: flex;
}

.col-80-center {
    padding: 40px 0px;
    width: 80%;
}

.col-20-center {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-20-center .fa-angle-down {
    font-size: 25px;
}

.row-questions-center p {
    font-size: 20px;
}

.row-questions-bottom {
    height: calc(100% / 3);
    border-bottom: 1px solid gray;
    display: flex;
}

.col-80-bottom {
    padding: 40px 0px;
    width: 80%;
}

.col-20-bottom {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-20-bottom .fa-angle-down {
    font-size: 25px;
}

.row-questions-bottom p {
    font-size: 20px;
}


/* QUI INIZIA IL FOOTER */
.container-footer {
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row-footer.top {
    width: 85%;
    display: flex;

}

.row-footer.bottom {
    width: 85%;
    display: flex;
}

.col-footer {
    width: calc(100% / 5);
    height: 500px;
    border: 2px dashed black;
    padding-top: 100px;
}

ul {
    list-style-type: none;
}

footer li {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

.col-footer a {
    color: white;
    text-decoration: none;
}

.category {
    font-size: 30px;
}

.col-language {
    width: 10%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.col-language hr {
    color: white;
    margin-bottom: 50px;
    width: 70%;
}

.content-language {
    color: white;
    font-size: 20px
}

.content-language a {
    color: white;
    text-decoration: none;
}

.fa-earth-americas {
    filter: invert(100%);
    margin-right: 10px;
    margin-bottom: 60px;
}