* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* QUI INIZIA L'HEADER */
.container-header {
    width: 100vw;
    background-color: orange;
}

.row-header {
    height: 100%;
    display: flex;

}

.col-50 {
    height: 100%;
    width: 50%;
    padding: 30px 30px 30px 20px;
}

/* PRIMA COLONNA */
.content-header>img {
    width: 150px;
}

.content-header span {
    margin: 10px 30px;
    font-size: 25px;
    color: grey;
}

.content-header a {
    text-decoration: none;
}

/* SECONDA COLONNA */
.content-header.right {
    text-align: right;
}

.col-50 button {
    font-size: 25px;
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
}

/* ---------------FINE HEADER------------------------- */

/* INIZIO MAIN */

.container-bg-lightblue {
    width: 100vw;
    height: 900px;
    background-color: rgb(118, 197, 237);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.row-title {
    text-align: center;
    width: 100%;
    background-color: red;
}

.row-first-block {
    width: 70%;
    height: 800px;
    background-color: blue;
    display: flex;
    align-items: flex-end;
}

.col-info {
    width: 30%;
    height: 500px;
}

.col-image {
    width: 70%;
    height: 500px;
}