* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* QUI INIZIA L'HEADER */
.container-header {
    width: 100vw;
}

.row-header {
    display: flex;
}

.col-50 {
    width: 50%;
    padding: 30px 30px 30px 20px;
}


/* PRIMA COLONNA */
.content-header>img {
    width: 150px;
}

.content-header span {
    margin: 10px 30px;
    font-size: 25px;
    color: grey;
}

.content-header a {
    text-decoration: none;
}

/* SECONDA COLONNA */
.content-header.right {
    text-align: right;
}

.col-50 button {
    font-size: 25px;
    color: white;
    background-color: rgb(8, 123, 255);
    border: none;
    padding: 10px 20px;
}

/* ---------------FINE HEADER------------------------- */

/* INIZIO MAIN */

.container-bg-lightblue {
    min-width: 100vw;
    height: 1200px;
    background-color: rgb(118, 197, 237);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding-top: 300px;
}

/* RIGA DEL TITOLO */
.row-title {
    width: 70%;
}

.content-title {
    font-size: 60px;
    text-align: left;
    padding-left: 50px;
}

/* RIGA DEI CONTENT IMG E DELLE INFO */
.row-first-block {
    min-width: 1300px;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.col-info {
    width: 30%;

}

.content-info {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-top: 150px;
}

.content-info button {
    width: 60%;
    font-size: 25px;
    text-align: left;
    padding: 20px 10px 20px 25px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgb(8, 123, 255);
    border: none;
    color: white;
    cursor: pointer;
}

.fa-arrow-down {
    font-size: 80px;
    margin-top: 150px;
}

.col-image {
    width: 70%;
}

.jumbo {
    width: 1200px;
    height: 800px;
    min-height: 200px;
    position: relative;
    bottom: -150px;
    left: 200px;
}

/* CONTENITORE DA 1400PX */

.container-1400 {
    width: 1400px;
    margin: 0 auto;
    margin-top: 200px;
}

/* CREAZIONE DEI BLOCCHI DEL PIANO BUSINESS */

.business-plan {
    width: 100%;
}

#business-title {
    width: 100%;
    margin-bottom: 50px;
}

#business-title h2 {
    font-size: 50px;
}

#radiobox {
    width: 100%;
    margin-bottom: 50px;
    font-size: 20px;
}

#mg-right-radio {
    margin-right: 80px;
}

.mg-right-span {
    margin-right: 5px;
}

/* DIMENSIONE PALLINO RADIO */
input[type="radio"] {
    transform: scale(1.8);
}

/* GESTIONE DELLE TRE COLONNE VERTICALI */
.plans {
    width: 100%;
}

.plans-row {
    display: flex;
}

.col-plans {
    width: calc(100% / 3);
    height: 1200px;
    border: 1px solid black;

}

.col-plans.center {
    margin: 0px 20px;
}


/* COLONNA DI SINISTRA */
.content-plans-title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px 0px;
}

.content-plans-title span {
    margin-left: 10px;
}

.content-plans {
    height: 50%;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
}

.content-plans h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.content-plans strong {
    margin-bottom: 8px;
    display: flex;
}

.content-plans .fa-solid {
    margin-right: 15px;
    margin-top: 10px;
}

.content-plans button {
    background-color: rgb(8, 123, 255);
    border: none;
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 90px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 40px;
}

.content-plans a {
    color: blue;
}

.time {
    color: gray;
    margin-bottom: 30px;
    display: flex;
}

/* COLONNA DI SINISTRA SOTTO */
.content-check {
    height: 45%;
    padding: 20px;
    font-size: 20px;
}

.content-check hr {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 30%;
    color: lightgrey;
}

.content-check .fa-solid {
    margin-right: 5px;
    margin-top: 5px;
}

.mg-top-col {
    margin-top: 20px;
}

.mg-left-text {
    margin-left: 100px;
}

/* COLONNA CENTRALE */

.mb-plans {
    margin-bottom: 2000px;
}

.font-size {
    font-size: 19px;
}


/* ALTRI DIV POSTI APPENA SOTTO I BUSINESS PLANS */
.office {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
    border: 1px solid black;
}

#team {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.col-70 h2 {
    font-size: 30px;
}

.row-office button {
    padding: 10px;
    background-color: rgb(8, 123, 255);
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#contact {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 20px;
}

.row-office {
    width: 100%;
    height: 250px;
    padding-left: 40px;
    display: flex;
    padding-top: 25px;
}

.col-70 {
    width: 70%;
    height: 100%;

}

.col-30 {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
}

/* CONTAINER CON ALL'INTERNO IMMAGINE E INFO */

.container-partner {
    width: 100%;
    height: 500px;
    border: 3px dashed black;
    background-color: yellow;
    margin-bottom: 150px;
}

.row-partner {
    width: 100%;
    height: 100%;
    display: flex;
}

.col-img {
    width: 60%;
    height: 100%;
    border: 3px dashed black;
}

.col-info-img {
    width: 40%;
    height: 100%;
    border: 3px dashed black;
}

/* CREAZIONE DEL BLOCCO "PIù OPERAZIONI" */

.container-more-operations {
    width: 100%;
    height: 1800px;
    background-color: orange;
    padding-top: 30px;
}

.title-more-options {
    width: 100%;
    height: 80px;
    background-color: blue;
}

.row-more-options {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3);
    height: 800px;
    border: 3px dashed black;
}

.image-more-options {
    width: 100%;
    height: 60%;
    border: 1px solid black;
}

.h3-more-options {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.p-more-options {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

/* ULTIMO BLOCCO DEL CONTAINER DA 1200PX */

.h2-link {
    width: 100%;
    background-color: blue;
    margin: 150px 0px;
}

.h2-link h2 {
    margin-bottom: 50px;
}

/* CONTAINER FULL */

.container-bg-lightblue.bottom {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row-partners {
    width: 100%;
    height: 70%;
    background-color: yellow;
    display: flex;
}

/* QUESTI DUE GESTISCONO SIA LA COL 33 DI SINISTRA SIA QUELLA DI DESTRA */
.col-33.partners {
    width: calc(100% / 3);
    height: 560px;
    border: 3px dashed black;
    display: flex;
    flex-wrap: wrap;
}

.col-50-images {
    width: 50%;
    height: 50%;
    border: 1px solid black;
}

/* COLONNA CENTRALE */
.img-partners {
    width: 100%;
    height: 40%;
    border: 2px dashed black;
}

.paragraph-partners {
    width: 100%;
    height: 60%;
    border: 2px dashed black;
}



/* UNDER ROW FULL */

.free-trial {
    width: 100%;
    height: 100%;
    background-color: red;
}

.row-trial {
    width: 100%;
    height: 100%;
    display: flex;

}

.col-50-trial {
    width: 50%;
    height: 100%;
    border: 2px dashed black;

}

/* CONTENITORE CHE RACCHIUDE LE DOMANDE */

.container-1400.bottom {
    width: 100vw;
    height: 800px;
    background-color: blue;
    margin-top: 0;
}

.row-questions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-h3 {
    width: 100%;
    height: 100px;
    border: 3px dashed black;
}

.col-questions {
    width: 100%;
    height: 400px;
    border: 3px dashed black;
}

/* QUI INIZIA IL FOOTER */
.container-footer {
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row-footer.top {
    width: 85%;
    background-color: orange;
    display: flex;

}

.row-footer.bottom {
    width: 85%;
    height: 150px;
    background-color: orange;
    display: flex;
}

.col-footer {
    width: calc(100% / 5);
    height: 500px;
    border: 2px dashed black;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 20px;
    font-size: 20px;
}

.category {
    font-size: 25px;
}

.col-language {
    width: 10%;
    height: 100%;
    background-color: grey;
    border-top: 1px solid white;
}